h1,h2{
	font-size:50px;
	color: #03C3D1;
}
p{
	font-size: 20px;
	text-align:center;
	color: #2F4639;
}


@media (max-width: 575px) {
  h1,h2,p {
    color: #0606FB;
    font-size: 32px;
  }
}

@media (max-width: 860px) and (min-width: 576px) {
   p {
    color: #3B0B0B;
    font-size: 25px;
  }
  h1 {
    color: #B40404;
    font-size: 35px;
  }

}